* text=auto !eol
/AUTHORS -text
/Externals -text
/INSTALL -text
/LICENSE -text
LinearSolverLoader/Makefile.am -text
LinearSolverLoader/Makefile.in -text
LinearSolverLoader/README -text
LinearSolverLoader/configure -text
LinearSolverLoader/configure.ac -text
LinearSolverLoader/inc/config_linearsolverloader.h.in -text
LinearSolverLoader/src/HSLLoader.c -text
LinearSolverLoader/src/HSLLoader.h -text
LinearSolverLoader/src/LibraryHandler.c -text
LinearSolverLoader/src/LibraryHandler.h -text
LinearSolverLoader/src/LinearSolverLoaderConfig.h -text
LinearSolverLoader/src/Makefile.am -text
LinearSolverLoader/src/Makefile.in -text
/Makefile.am -text
/Makefile.in -text
/README -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
/install-sh -text
/ltmain.sh -text
/missing -text
