* text=auto !eol
/Externals -text
GAMSlinks/AUTHORS -text
GAMSlinks/LICENSE -text
GAMSlinks/Makefile.am -text
GAMSlinks/Makefile.in -text
GAMSlinks/README -text
GAMSlinks/configure -text
GAMSlinks/configure.ac -text
GAMSlinks/doc/gamsdist/coin.tex -text
GAMSlinks/doc/gamsdist/gams.sty -text
GAMSlinks/doc/gamsdist/ind_coin.tex -text
GAMSlinks/doc/gamsdist/optbonmin_a.tex -text
GAMSlinks/doc/gamsdist/optcbc_a.tex -text
GAMSlinks/doc/gamsdist/optcbc_s.tex -text
GAMSlinks/doc/gamsdist/optglpk_a.tex -text
GAMSlinks/doc/gamsdist/optglpk_s.tex -text
GAMSlinks/doc/gamsdist/optipopt_a.tex -text
GAMSlinks/examples/adbench/Makefile.am -text
GAMSlinks/examples/adbench/Makefile.in -text
GAMSlinks/examples/adbench/adbench.cpp -text
GAMSlinks/examples/adbench/gmsad_nt.cmd -text
GAMSlinks/examples/adbench/gmsad_us.run -text
GAMSlinks/examples/adbench/install/gmsad_nt.dat -text
GAMSlinks/examples/adbench/install/gmsad_un.dat -text
GAMSlinks/examples/osil2gms/Makefile.am -text
GAMSlinks/examples/osil2gms/Makefile.in -text
GAMSlinks/examples/osil2gms/osil2gms.cpp -text
GAMSlinks/examples/osil2gms/osrl2trace.cpp -text
GAMSlinks/gams_addlibs.txt.in -text
GAMSlinks/gamsio_addlibs.txt.in -text
GAMSlinks/inc/config_gamslinks.h.in -text
GAMSlinks/m4/ac_coin_gams.m4 -text
GAMSlinks/m4/ac_coin_scip.m4 -text
GAMSlinks/smagio_addlibs.txt.in -text
GAMSlinks/src/Bonmin/GamsBonmin.cpp -text
GAMSlinks/src/Bonmin/Makefile.am -text
GAMSlinks/src/Bonmin/Makefile.in -text
GAMSlinks/src/Bonmin/SmagMINLP.cpp -text
GAMSlinks/src/Bonmin/SmagMINLP.hpp -text
GAMSlinks/src/Bonmin/gmsbm_nt.cmd -text
GAMSlinks/src/Bonmin/gmsbm_us.run -text
GAMSlinks/src/Bonmin/install/gmsbm_nt.dat -text
GAMSlinks/src/Bonmin/install/gmsbm_un.dat -text
GAMSlinks/src/Cbc/GamsCoinCbc.cpp -text
GAMSlinks/src/Cbc/GamsCutGenerator.cpp -text
GAMSlinks/src/Cbc/GamsCutGenerator.hpp -text
GAMSlinks/src/Cbc/GamsHeuristic.cpp -text
GAMSlinks/src/Cbc/GamsHeuristic.hpp -text
GAMSlinks/src/Cbc/Makefile.am -text
GAMSlinks/src/Cbc/Makefile.in -text
GAMSlinks/src/Cbc/gmscc_nt.cmd -text
GAMSlinks/src/Cbc/gmscc_us.run -text
GAMSlinks/src/Cbc/install/gmscc_nt.dat -text
GAMSlinks/src/Cbc/install/gmscc_un.dat -text
GAMSlinks/src/Cbc/optcbc.def -text
GAMSlinks/src/Cbc/optcbc.gms -text
GAMSlinks/src/Cbc/optcbc.html -text
GAMSlinks/src/Cbc/optcbc.txt -text
GAMSlinks/src/GAMSlinksConfig.h -text
GAMSlinks/src/GamsIO/GamsBCH.cpp -text
GAMSlinks/src/GamsIO/GamsBCH.hpp -text
GAMSlinks/src/GamsIO/GamsDictionary.cpp -text
GAMSlinks/src/GamsIO/GamsDictionary.hpp -text
GAMSlinks/src/GamsIO/GamsFinalize.cpp -text
GAMSlinks/src/GamsIO/GamsFinalize.hpp -text
GAMSlinks/src/GamsIO/GamsGDX.cpp -text
GAMSlinks/src/GamsIO/GamsGDX.hpp -text
GAMSlinks/src/GamsIO/GamsHandler.hpp -text
GAMSlinks/src/GamsIO/GamsHandlerGmo.cpp -text
GAMSlinks/src/GamsIO/GamsHandlerGmo.hpp -text
GAMSlinks/src/GamsIO/GamsHandlerIOLib.cpp -text
GAMSlinks/src/GamsIO/GamsHandlerIOLib.hpp -text
GAMSlinks/src/GamsIO/GamsHandlerSmag.cpp -text
GAMSlinks/src/GamsIO/GamsHandlerSmag.hpp -text
GAMSlinks/src/GamsIO/GamsMessageHandler.cpp -text
GAMSlinks/src/GamsIO/GamsMessageHandler.hpp -text
GAMSlinks/src/GamsIO/GamsModel.cpp -text
GAMSlinks/src/GamsIO/GamsModel.hpp -text
GAMSlinks/src/GamsIO/GamsNLinstr.c -text
GAMSlinks/src/GamsIO/GamsNLinstr.h -text
GAMSlinks/src/GamsIO/GamsOptions.cpp -text
GAMSlinks/src/GamsIO/GamsOptions.hpp -text
GAMSlinks/src/GamsIO/Makefile.am -text
GAMSlinks/src/GamsIO/Makefile.in -text
GAMSlinks/src/GamsIO/SmagExtra.c -text
GAMSlinks/src/GamsIO/SmagExtra.h -text
GAMSlinks/src/GamsIO/SmagJournal.cpp -text
GAMSlinks/src/GamsIO/SmagJournal.hpp -text
GAMSlinks/src/GamsIO/SmagStricmp.c -text
GAMSlinks/src/GamsUtils/GamsDictionary.cpp -text
GAMSlinks/src/GamsUtils/GamsDictionary.hpp -text
GAMSlinks/src/GamsUtils/GamsGDX.cpp -text
GAMSlinks/src/GamsUtils/GamsGDX.hpp -text
GAMSlinks/src/GamsUtils/GamsLibLoader.c -text
GAMSlinks/src/GamsUtils/GamsLibLoader.h -text
GAMSlinks/src/GamsUtils/GamsNLinstr.c -text
GAMSlinks/src/GamsUtils/GamsNLinstr.h -text
GAMSlinks/src/GamsUtils/GamsOptions.cpp -text
GAMSlinks/src/GamsUtils/GamsOptions.hpp -text
GAMSlinks/src/GamsUtils/Makefile.am -text
GAMSlinks/src/GamsUtils/Makefile.in -text
GAMSlinks/src/Glpk/GamsCoinGlpk.cpp -text
GAMSlinks/src/Glpk/Makefile.am -text
GAMSlinks/src/Glpk/Makefile.in -text
GAMSlinks/src/Glpk/gmscg_nt.cmd -text
GAMSlinks/src/Glpk/gmscg_us.run -text
GAMSlinks/src/Glpk/install/gmscg_nt.dat -text
GAMSlinks/src/Glpk/install/gmscg_un.dat -text
GAMSlinks/src/Glpk/optglpk.def -text
GAMSlinks/src/Glpk/optglpk.gms -text
GAMSlinks/src/Glpk/optglpk.html -text
GAMSlinks/src/Glpk/optglpk.txt -text
GAMSlinks/src/Ipopt/GamsIpopt.cpp -text
GAMSlinks/src/Ipopt/Makefile.am -text
GAMSlinks/src/Ipopt/Makefile.in -text
GAMSlinks/src/Ipopt/SmagNLP.cpp -text
GAMSlinks/src/Ipopt/SmagNLP.hpp -text
GAMSlinks/src/Ipopt/gmsip_nt.cmd -text
GAMSlinks/src/Ipopt/gmsip_us.run -text
GAMSlinks/src/Ipopt/install/gmsip_nt.dat -text
GAMSlinks/src/Ipopt/install/gmsip_un.dat -text
GAMSlinks/src/Makefile.am -text
GAMSlinks/src/Makefile.in -text
GAMSlinks/src/OS/GMOSolver.cpp -text
GAMSlinks/src/OS/GMOSolver.hpp -text
GAMSlinks/src/OS/GamsOS.cpp -text
GAMSlinks/src/OS/Makefile.am -text
GAMSlinks/src/OS/Makefile.in -text
GAMSlinks/src/OS/OSrL2Smag.cpp -text
GAMSlinks/src/OS/OSrL2Smag.hpp -text
GAMSlinks/src/OS/Smag2OSiL.cpp -text
GAMSlinks/src/OS/Smag2OSiL.hpp -text
GAMSlinks/src/OS/gmsos_nt.cmd -text
GAMSlinks/src/OS/gmsos_us.run -text
GAMSlinks/src/OS/install/gmsos_nt.dat -text
GAMSlinks/src/OS/install/gmsos_un.dat -text
GAMSlinks/src/OS/optos.def -text
GAMSlinks/src/OS/optos.gms -text
GAMSlinks/src/OS/optos.html -text
GAMSlinks/src/OS/optos.txt -text
GAMSlinks/src/Osi/GamsCoinOsi.cpp -text
GAMSlinks/src/Osi/Makefile.am -text
GAMSlinks/src/Osi/Makefile.in -text
GAMSlinks/src/Osi/gmsosint.cmd -text
GAMSlinks/src/Osi/gmsosius.run -text
GAMSlinks/src/Osi/install/gmsosint.dat -text
GAMSlinks/src/Osi/install/gmsosiun.dat -text
GAMSlinks/src/Osi/optosi.def -text
GAMSlinks/src/Osi/optosi.gms -text
GAMSlinks/src/SCIP/GamsScip.cpp -text
GAMSlinks/src/SCIP/Makefile.am -text
GAMSlinks/src/SCIP/Makefile.in -text
GAMSlinks/src/SCIP/ScipBCH.cpp -text
GAMSlinks/src/SCIP/ScipBCH.hpp -text
GAMSlinks/src/SCIP/gmssc_nt.cmd -text
GAMSlinks/src/SCIP/gmssc_us.run -text
GAMSlinks/src/SCIP/install/gmssc_nt.dat -text
GAMSlinks/src/SCIP/install/gmssc_un.dat -text
GAMSlinks/src/SolverInterfaces/Gams2OSiL.cpp -text
GAMSlinks/src/SolverInterfaces/Gams2OSiL.hpp -text
GAMSlinks/src/SolverInterfaces/GamsBonmin.cpp -text
GAMSlinks/src/SolverInterfaces/GamsBonmin.h -text
GAMSlinks/src/SolverInterfaces/GamsBonmin.hpp -text
GAMSlinks/src/SolverInterfaces/GamsCbc.cpp -text
GAMSlinks/src/SolverInterfaces/GamsCbc.h -text
GAMSlinks/src/SolverInterfaces/GamsCbc.hpp -text
GAMSlinks/src/SolverInterfaces/GamsCouenne.cpp -text
GAMSlinks/src/SolverInterfaces/GamsCouenne.h -text
GAMSlinks/src/SolverInterfaces/GamsCouenne.hpp -text
GAMSlinks/src/SolverInterfaces/GamsCouenneSetup.cpp -text
GAMSlinks/src/SolverInterfaces/GamsCouenneSetup.hpp -text
GAMSlinks/src/SolverInterfaces/GamsIpopt.cpp -text
GAMSlinks/src/SolverInterfaces/GamsIpopt.h -text
GAMSlinks/src/SolverInterfaces/GamsIpopt.hpp -text
GAMSlinks/src/SolverInterfaces/GamsJournal.cpp -text
GAMSlinks/src/SolverInterfaces/GamsJournal.hpp -text
GAMSlinks/src/SolverInterfaces/GamsMINLP.cpp -text
GAMSlinks/src/SolverInterfaces/GamsMINLP.hpp -text
GAMSlinks/src/SolverInterfaces/GamsMessageHandler.cpp -text
GAMSlinks/src/SolverInterfaces/GamsMessageHandler.hpp -text
GAMSlinks/src/SolverInterfaces/GamsNLP.cpp -text
GAMSlinks/src/SolverInterfaces/GamsNLP.hpp -text
GAMSlinks/src/SolverInterfaces/GamsOS.cpp -text
GAMSlinks/src/SolverInterfaces/GamsOS.h -text
GAMSlinks/src/SolverInterfaces/GamsOS.hpp -text
GAMSlinks/src/SolverInterfaces/GamsOsiHelper.cpp -text
GAMSlinks/src/SolverInterfaces/GamsOsiHelper.hpp -text
GAMSlinks/src/SolverInterfaces/GamsSolver.h -text
GAMSlinks/src/SolverInterfaces/GamsSolver.hpp -text
GAMSlinks/src/SolverInterfaces/Makefile.am -text
GAMSlinks/src/SolverInterfaces/Makefile.in -text
GAMSlinks/src/SolverInterfaces/OSrL2Gams.cpp -text
GAMSlinks/src/SolverInterfaces/OSrL2Gams.hpp -text
GAMSlinks/src/SolverInterfaces/gmsbmd.cpp -text
GAMSlinks/src/SolverInterfaces/gmsbmdnt.cmd -text
GAMSlinks/src/SolverInterfaces/gmsbmdus.run -text
GAMSlinks/src/SolverInterfaces/gmscbc.cpp -text
GAMSlinks/src/SolverInterfaces/gmscbcnt.cmd -text
GAMSlinks/src/SolverInterfaces/gmscbcus.run -text
GAMSlinks/src/SolverInterfaces/gmscou.cpp -text
GAMSlinks/src/SolverInterfaces/gmscount.cmd -text
GAMSlinks/src/SolverInterfaces/gmscouus.run -text
GAMSlinks/src/SolverInterfaces/gmsipd.cpp -text
GAMSlinks/src/SolverInterfaces/gmsipdnt.cmd -text
GAMSlinks/src/SolverInterfaces/gmsipdus.run -text
GAMSlinks/src/SolverInterfaces/gmsmain.cpp -text
GAMSlinks/src/SolverInterfaces/gmsosd.cpp -text
GAMSlinks/src/SolverInterfaces/gmsosdnt.cmd -text
GAMSlinks/src/SolverInterfaces/gmsosdus.run -text
GAMSlinks/src/SolverInterfaces/install/gmsbmdnt.dat -text
GAMSlinks/src/SolverInterfaces/install/gmsbmdun.dat -text
GAMSlinks/src/SolverInterfaces/install/gmscbcnt.dat -text
GAMSlinks/src/SolverInterfaces/install/gmscbcun.dat -text
GAMSlinks/src/SolverInterfaces/install/gmscount.dat -text
GAMSlinks/src/SolverInterfaces/install/gmscouun.dat -text
GAMSlinks/src/SolverInterfaces/install/gmsipdnt.dat -text
GAMSlinks/src/SolverInterfaces/install/gmsipdun.dat -text
GAMSlinks/src/SolverInterfaces/install/gmsosdnt.dat -text
GAMSlinks/src/SolverInterfaces/install/gmsosdun.dat -text
GAMSlinks/src/SolverInterfaces/optcbcd.def -text
GAMSlinks/src/SolverInterfaces/optcbcd.gms -text
GAMSlinks/src/SolverInterfaces/optcbcd.html -text
GAMSlinks/src/SolverInterfaces/optcbcd.txt -text
GAMSlinks/src/SolverInterfaces/optosd.def -text
GAMSlinks/src/SolverInterfaces/optosd.gms -text
GAMSlinks/src/SolverInterfaces/optosd.html -text
GAMSlinks/src/SolverInterfaces/optosd.txt -text
GAMSlinks/test/Makefile.am -text
GAMSlinks/test/Makefile.in -text
GAMSlinks/test/run_gmstest.in -text
GAMSlinks/test/run_quality.in -text
/INSTALL -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/README -text
ThirdParty/GAMSIO/INSTALL.GAMSIO -text
ThirdParty/GAMSIO/LICENSE -text
ThirdParty/GAMSIO/Makefile.am -text
ThirdParty/GAMSIO/Makefile.in -text
ThirdParty/GAMSIO/configure -text
ThirdParty/GAMSIO/configure.ac -text
ThirdParty/GAMSIO/gdx2gams.c -text
ThirdParty/GAMSIO/get.GAMSIO -text
ThirdParty/GAMSIO/m4/ac_coin_gams.m4 -text
ThirdParty/SCIP/INSTALL.SCIP -text
ThirdParty/SCIP/Makefile.am -text
ThirdParty/SCIP/Makefile.in -text
ThirdParty/SCIP/config_scip.h.in -text
ThirdParty/SCIP/configure -text
ThirdParty/SCIP/configure.ac -text
ThirdParty/SCIP/m4/ac_coin_scip.m4 -text
/clp.patch -text
/compile -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf -text
/install-sh -text
libltdl/COPYING.LIB -text
libltdl/Makefile.am -text
libltdl/Makefile.in -text
libltdl/README -text
libltdl/config-h.in -text
libltdl/configure -text
libltdl/configure.ac -text
libltdl/ltdl.c -text
libltdl/ltdl.h -text
/ltmain.sh -text
/missing -text
/os.patch -text
/osispx.patch -text
